form {
    width: 70%;
    align-self: center;
    padding: 2rem;
    border-radius: 15px;
    background-color: rgb(236, 229, 216);
    margin: 1rem 2rem;
    label {
        font-size: 1rem;
    }
}

.ql-editor {
    background-color: #fff;
}

#title {
    font-size: 1rem;
}

.cm-editor {
    text-align: left;
}

.ql-comment::before {
    content: "\1F5E8";
    font-size: 16px;
    margin-right: 4px;
    line-height: 1;
}

.ql-comment {
    position: relative;
}

.ql-comment:hover::after {
    content: "Lägg till en kommentar";
    position: absolute;
    bottom: 100%; /* Placera ovanför knappen */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 1;
}

.ql-editor [comment] {
    background-color: yellow;
    position: relative;
    cursor: pointer;
}

.ql-editor [comment]:hover::after {
    content: attr(comment);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.form-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    button {
        width: 40%;
    }
    :nth-child(even) {
        justify-self: end;
    }
}

.comment-popup {
    max-width: 60%;
    padding: 10px;
    position: absolute;
    background-color: rgb(236, 229, 216);
    display: flex;
    flex-direction: column;

    .comment-header {
        justify-content: space-between;
        display: flex;
        * {
            align-self: flex-start;
            margin: 0;
        }
    }

    border: solid 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #333;

    #comment-input {
        margin: 5px 0px;
    }

    .popup-buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
