form {
    padding: 2rem;
    border-radius: 15px;
    background-color: rgb(236, 229, 216);
    margin: 1rem 2rem;
    label {
        font-size: 1rem;
    }
}

.ql-editor {
    background-color: #fff;
}

#title {
    font-size: 1rem;
}

.cm-editor {
    text-align: left;
}

.ql-comment::before {
    content: "\1F5E8";
    font-size: 16px;
    margin-right: 4px;
    line-height: 1;
}

.ql-comment {
    position: relative;
}

.ql-comment:hover::after {
    content: "Lägg till en kommentar";
    position: absolute;
    bottom: 100%; /* Placera ovanför knappen */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 1;
}

.ql-editor [comment] {
    background-color: yellow;
    position: relative;
    cursor: pointer;
}

.ql-editor [comment]:hover::after {
    content: attr(comment);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
